<h1>New Allowed host</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.allowed_host_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.allowed_host_path(@conn, :index) %></span>
